cpp/build
.vscode/*

*.msh
*.vtu
*.pvd

*.png
*.avi
*.ogv
*.mp4

*.csv
*.txt

*.ipynb
*.pdf
*.blend

python/__pycache__/*
.tmp/*
wandb/*
_skipped*

!CMakeLists.txt
!**/CMakeLists.txt
!cpp/demos/meshes/
!cpp/demos/meshes/**/
!cpp/demos/meshes/**/*.msh
!cpp/demos/parameters/
!cpp/demos/parameters/**/
!cpp/demos/parameters/**/*.csv
data/**
!data/**/
!data/**/README.md
!asset/**/*.png
!asset/**/*.gif