[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/vtu11"]
	path = external/vtu11
	url = https://github.com/phmkopp/vtu11.git
[submodule "external/MshIO"]
	path = external/MshIO
	url = https://github.com/qnzhou/MshIO.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/osqp"]
	path = external/osqp
	url = https://github.com/osqp/osqp.git
[submodule "external/pbrt-v3"]
	path = external/pbrt-v3
	url = https://github.com/mmp/pbrt-v3.git
